@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --color-primary: #6366F1;
  --color-primary-foreground: #ffffff;
  --color-secondary: #818CF8;
  --color-cta: #10B981;
  --color-background: #F5F3FF;
  --color-foreground: #1E1B4B;
}

@layer base {
  html,
  body {
    @apply font-sans text-foreground bg-background antialiased;
  }

  .using-mouse * {
    outline: none !important;
  }
}
