@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-primary: #6366f1;
  --color-primary-foreground: #ffffff;
  --color-secondary: #818cf8;
  --color-cta: #10b981;
  --color-background: #f5f3ff;
  --color-foreground: #1e1b4b;
  --color-popover: #ffffff;
  --color-popover-foreground: #1e1b4b;
}

@layer base {
  html,
  body {
    @apply font-sans text-foreground bg-background antialiased;
  }

  .using-mouse * {
    outline: none !important;
  }
}
